letter_sample_schema.rnc

start = t_text
t_text = element text {body+}
#
body = element body {division+}
division = element div {d_type ,opener+, p+, closer+}
d_type = attribute type {text}
opener = element opener {dateline+, opensalute}
dateline = element dateline {date, placename}
opensalute = element salute {text}
date = element date {when, text}
when = attribute when {text}
placename = element name {n_type, text}
n_type = attribute type {text}
#
p = element p {text}
#
closer = element closer {closesalute, signed}
closesalute = element salute {text}
signed = element signed {signedname}
signedname = element name {p_type, text}
p_type = attribute type {text}
#
#TEI types have lots of values:
#Three types: d_type is "division type", n_type is "name of place type", and p_type is "person type".
#Two names: placename and signedname
#Two salutes: opensalute and closesalute#
#What element will we use for the personal info at the beginning of the letters?
